<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1 style="color:red; font-size:30px;">{{bdata}}</h1>
    {% for n in clist%}
    <div>{{n}}</div>
    {% endfor %}

    <br/>
    <table border='1' cellpadding='10'>
        <tr>
            <th>Name</th>
            <th>phone</th>
        </tr>
        
        {% for d in student_details %}
        <tr>
           <td>{{d.name}}</td>
           <td>{{d.phone}}</td>
        </tr>    
        {%endfor%}

    {% if number|length > 0 %}
        {% for n in number %}
            {% if n > 20 %}
            <div>{{n}}</div>
            {% endif %}    
        {% endfor %}
    {% else %}
        No data found
    {% endif %}            
</body>
</html>