{% include "footer.html" %}
<div class="row">
	<div class="col-12">
		<form>
			<div>
				<label for="">Name</label>
				<input type="text" name="num1" class="form-control">
			</div>
			<div>
				<label for="">Name</label>
				<input type="text" name="num2" class="form-control">
			</div>
			<div class="pt-4">
				<button type="submit">Save</button>
			</div>
            <div>
                <input type="text" value="{{output}}" />
            </div>    
		</form>
	</div>
</div>
{% include "header.html" %}