{% include "footer.html" %}
<div class="row">
	<div class="col-12">
		<form method="post">
        {% csrf_token %}
			<div>
				<label for="">Name</label>
				<input type="text" name="num1" value="{{n1}}" class="form-control">
			</div>
			<div>
				<label for="">Name</label>
				<input type="text" name="num2" value="{{n2}}" class="form-control">
			</div>
			<div class="pt-4">
				<button type="submit">Submit</button>
			</div>
            <div>
                <input type="text" value="{{output}}" />
            </div>    
		</form>
	</div>
</div>
{% include "header.html" %}